#wholeform {
    background-color: white;
    display: inline-block;
    /* text-align: center; */
    vertical-align: top;
    /* line-height: 2.0; */
    border-radius: 7px;
    margin: 50px;
}

.form-group {
    margin-bottom: 1rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

#title {
    max-width: 400px;
    margin: 20px;
    text-align: center;
}

/* #survey-form {
    text-align: center
} */